<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    div.relative {
      position: relative;
      left: 50px;
    }
  </style>
</head>
<br>

<body>
  <div class="col-md-4 offset-4">
    <div class="card">
      <h4 class="card-header"><label>Add Diagnostic Center</label></h4>
      <div class="card-body">
        <form>
          <br>
          <div class="form-group">
            <label for="centreName">Diagnostic Center Name:</label>
            <input type="name" [(ngModel)]="user.centreName" placeholder="Enter Center Name" class="form-control"
              id="centreName" required name="centreName" class="form-control">
          </div>

          <button class="btn btn-primary" style="font-size:16px" (click)="createcentre()"> Submit
            <i class="fa fa-medkit"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</body>